#about{
    padding: 80px 0px;
    color: #ababab;
}


/* ----flex basis what percentage of space it will occupy------ */
/* ------remember the parent should be display:flex----- */
/* -------row the parent is in main.css-------- */
.about-col-1{
    flex-basis: 35%;
    border: 20px ;
}
.about-col-1 img{
    width: 100%;
}
/* -------there will be 5% leftover whichh will go to the space between them----- */
.about-col-2{
    flex-basis: 60%;
    margin-top: 40px;
}
/* -------use flex on divs----------- */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
/* ----show underline only to tablinks with activelink class--- */
.tab-links.active-link::after{
     width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #c92055;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
/* ----show the content of tab that has active tab class--- */
.tab-contents.active-tab{
    display: block;
}