@font-face {
    font-family: 'Montserrat'; /* Font name to use in CSS */
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype'); /* URL to the font file */
    font-weight: bold; /* Specify font weight if applicable */
    font-style: normal; /* Specify font style if applicable */
  }
*{
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
html{
    scroll-behavior: smooth !important;
}
body{
    background: #080808;
    color: #fff;
}
.container{
    padding: 10px 10%;
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #ff004f;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}